{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="register-fosub-perso">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
